.card {
  padding: 0 0 1em 0;
  margin-top: 0.5em;
  width: 282px;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  width: 100%;
}

.card h2,
.favorite {
  padding: 0 1em;
}

.favorite {
  width: 25px;
}

.link {
  text-decoration: none;
  color: var(--black);
  text-align: left;
}
