.footer {
  background-color: var(--black);
  height: 88px;
  /* width: 100%; */
  /* bottom: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: fixed; */
}

.footer span {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
