[submodule "react/react-optimizing-performace"]
	path = react/react-optimizing-performace
	url = git@github.com:Setoue/react-optimizing-performace.git
[submodule "react/react-with-typescript"]
	path = react/react-with-typescript
	url = git@github.com:Setoue/react-with-typescript.git
[submodule "react/practing-react"]
	path = react/practing-react
	url = git@github.com:Setoue/practing-react.git
[submodule "typescript/typescript-evoluindo-javascript"]
	path = typescript/typescript-evoluindo-javascript
	url = git@github.com:Setoue/typescript-evoluindo-javascript.git
[submodule "react/writing-react-with-typescript"]
	path = react/writing-react-with-typescript
	url = git@github.com:Setoue/writing-react-with-typescript.git
[submodule "css/styled-components-abstract-your-css"]
	path = css/styled-components-abstract-your-css
	url = git@github.com:Setoue/styled-components-abstract-your-css.git
