:root {
  --fonte: "Montserrat", sans-serif;
  --black: #000000;
  --white: #fff;
  --gray: #e2e2e2;
}
body {
  margin: 0;
  font-family: var(--fonte);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
